a.amigos, a.amigos:visited{color:#fff;text-decoration:none;font-size:9px;}
a.amigos:hover{color:#66CDAA;text-decoration:underline;font-size:9px;}
table.general{background-image:url(images/classic/641.png);background-position:center;font-family:Verdana;font-size:12px;background-color:#FFFFFF;color:#FFF;}
table.foot{background-image:url(images/classic/1335.png);font-family:Verdana;font-size:12px;color:#FFF;}
.menu{border:none;border:0px;margin:0px;padding:0px;font:67.5%"Lucida Sans Unicode","Bitstream Vera Sans","Trebuchet Unicode MS","Lucida Grande", Verdana, Helvetica, sans-serif;font-size:14px;font-weight:bold;}
.menu ul{background:#333333;height:35px;list-style:none;margin:0;padding:0;}
.menu li{float:left;padding:0px;}
.menu li a{background:#333333;color:#cccccc;display:block;font-weight:normal;line-height:35px;margin:0px;padding:0px 25px;text-align:center;text-decoration:none;}
.menu li a:hover, .menu ul li:hover a{background:#333333;color:#FFFFFF;text-decoration:none;}
.menu li ul{background:#333333;display:none;height:auto;padding:0px;margin:0px;border:0px;position:absolute;width:225px;z-index:200;}
.menu li:hover ul{display:block;}
.menu li li{display:block;float:none;margin:0px;padding:0px;width:225px;}
.menu li:hover li a{background:none;}
.menu li ul a{display:block;height:35px;font-size:12px;font-style:normal;margin:0px;padding:0px 10px 0px 15px;text-align:left;}
.menu li ul a:hover, .menu li ul li:hover a{background:#800000;border:0px;color:#ffffff;text-decoration:none;}
p.access{clear:right;color:#cccccc;letter-spacing:2px;font-family:inherit;text-align:center;font-size:inherit;}
td.header{background-image:url(images/banner_codecomm.png);background-repeat:none;background-position:center;text-decoration:none;border:#FFF solid 1px;}
table.tmain{}
td.tmenu{background-color:#228B22;}
body{background-image:url(images/classic/back.png);font-size:12px;color:#FFF;}
td.recently{background-image:url(images/classic/recientes.png);}
td.recentlynews{background-image:url(images/classic/news.png); width:50px; height:300px;}
td.noobs{background-image:url(images/classic/novatos.png);}
.date{color:#FFF;text-decoration:none;font-family:Arial, Helvetica, sans-serif;text-align:right;border:#66CCCC solid 1.5px;}
.news a,.news a:visited{border-style:inset;border-color:#FFD700;text-align:justify;text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;}
.news a:hover{text-align:justify;text-decoration:underline;color:#666666;font-family:Verdana, Arial, Helvetica, sans-serif;}
span.news{background-color:#CCCCCC;color:#000000;border-bottom-style:groove;border-color:#2F4F4F;}
table.post{background-repeat:repeat-x;background-color:#FFFFFF;text-decoration:none;color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.post td.postheader{background-image:url(images/classic/1336.png);background-position:center;color:#FFF;font-weight:bold;text-decoration:underline;text-align:center;font-family:Arial, Helvetica, sans-serif;}
.post a,.post a:visited{text-align:justify;text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;}
.post a:hover{text-align:justify;text-decoration:underline;color:#FF8C00;font-family:Verdana, Arial, Helvetica, sans-serif;}
.post tr, .post td{text-align:justify;font-family:Verdana, Arial, Helvetica, sans-serif;}
.login{float:right;position:absolute;height:270px;width:150px;padding:0px 15px 15px 15px;background-color:#333333;color:#000000;list-style-type:none;text-align:justify;font-family:Arial, Helvetica, sans-serif;}
.links a, .links a:hover{text-decoration:none;text-align:center;}
