.iex_a a, .iex_a p{color:#ffffff;text-decoration:none;font-family:Arial, Helvetica, sans-serif;text-align:center;}
.iex_cat a:visited,.iex_cat a:hover,.iex_cat a{color:#ffffff;text-decoration:none;font-family:Arial, Helvetica, sans-serif;text-align:left;}
.iex_td{background-color:#C0C0C0;text-align:left;}
.iex_thm{background-color:#708090;text-align:left;color:#6B8E23;}